<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Sobre la Aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="game-controller-outline" class="game"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 class="ion-text-center">iList-Game</h1>

  <br>

  <p class="ion-text-center">Con esta aplicación podrás agregar videojuegos a una lista común y compartir tus juegos con los demás jugadores. 
    También podrás tener y agregar estos videojuegos a una lista propia de juegos.
  </p>

  <br>

  <p class="ion-text-center">Aplicación desarrollada por Miguel González</p>
  <p class="ion-text-center"><a href="https://github.com/Miguelgm1693">GITHUB</a></p>

  <br>
  <br>
  <br>
  <br>
  <br>
  

  <p class="texto ion-text-center bottom">© 2021. iListGame. Todos los derechos reservados.</p>

</ion-content>
