<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" class="titulo">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="game-controller-outline" class="game"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-input
        class="texto ion-text-center"
        clearInput
        placeholder="Correo electrónico"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        class="texto ion-text-center"
        clearInput
        placeholder="Contraseña"
        (keyup.enter)="login()"
        [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    class="texto"
    color="success"
    shape="round"
    (click)="login()">
    Aceptar
    <ion-spinner *ngIf="cargando"></ion-spinner></ion-button>

  <br>

  <div class="ion-text-center">
    <a class="texto" href="/registro">
      <ion-icon name="person-add-outline"></ion-icon>
      Crear cuenta
    </a>
    <br>
    <a class="texto" href="/restaura-password">
      <ion-icon name="mail-outline"></ion-icon>
      Recuperar contraseña
    </a>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p class="texto ion-text-center bottom">© 2021. iListGame. Todos los derechos reservados.</p>
  

</ion-content>
