<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Recurar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="key" class="llave">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="ion-text-center">
    Se le enviará un correo electrónico a la dirección
    que nos indica para recuperar su contraseña.
  </p>

  <ion-item>
    <ion-input class="texto ion-text-center" clearInput placeholder="Correo electrónico" [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" color="success" shape="round" (click)="resetPass()">
    Aceptar
  </ion-button>

  <ion-button expand="block" color="danger" shape="round" href="/login">
    Cancelar
  </ion-button>

</ion-content>